<?xml version="1.0" standalone="no"?>

<svg width="3000" height="3000" version="1.1" xmlns="http://www.w3.org/2000/svg">
<line x1='200.0' x2='220.0' y1='600.0' y2='600.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='220.0' x2='230.0' y1='600.0' y2='582.6795' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='230.0' x2='240.0' y1='582.6795' y2='600.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='240.0' x2='260.0' y1='600.0' y2='600.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='260.0' x2='270.0' y1='600.0' y2='582.6795' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='270.0' x2='260.0' y1='582.6795' y2='565.359' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='260.0' x2='280.0' y1='565.359' y2='565.359' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='280.0' x2='290.0' y1='565.359' y2='548.0385' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='290.0' x2='300.0' y1='548.0385' y2='565.359' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='300.0' x2='320.0' y1='565.359' y2='565.359' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='320.0' x2='310.0' y1='565.359' y2='582.6795' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='310.0' x2='320.0' y1='582.6795' y2='600.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='320.0' x2='340.0' y1='600.0' y2='600.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='340.0' x2='350.0' y1='600.0' y2='582.6795' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='350.0' x2='360.0' y1='582.6795' y2='600.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='360.0' x2='380.0' y1='600.0' y2='600.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='380.0' x2='370.0' y1='600.0' y2='617.3205' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='370.0' x2='380.0' y1='617.3205' y2='634.641' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='380.0' x2='360.0' y1='634.641' y2='634.641' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='360.0' x2='350.0' y1='634.641' y2='651.9615' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='350.0' x2='360.0' y1='651.9615' y2='669.282' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='360.0' x2='380.0' y1='669.282' y2='669.282' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='380.0' x2='370.0' y1='669.282' y2='686.6025' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='370.0' x2='380.0' y1='686.6025' y2='703.923' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='380.0' x2='360.0' y1='703.923' y2='703.923' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='360.0' x2='350.0' y1='703.923' y2='721.24347' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='350.0' x2='340.0' y1='721.24347' y2='703.923' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='340.0' x2='320.0' y1='703.923' y2='703.923' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='320.0' x2='310.0' y1='703.923' y2='721.24347' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='310.0' x2='320.0' y1='721.24347' y2='738.56396' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='320.0' x2='300.0' y1='738.56396' y2='738.56396' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='300.0' x2='290.0' y1='738.56396' y2='755.88446' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='290.0' x2='280.0' y1='755.88446' y2='738.56396' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='280.0' x2='260.0' y1='738.56396' y2='738.56396' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='260.0' x2='270.0' y1='738.56396' y2='721.24347' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='270.0' x2='260.0' y1='721.24347' y2='703.923' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='260.0' x2='240.0' y1='703.923' y2='703.923' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='240.0' x2='230.0' y1='703.923' y2='721.24347' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='230.0' x2='220.0' y1='721.24347' y2='703.923' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='220.0' x2='200.0' y1='703.923' y2='703.923' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='200.0' x2='210.0' y1='703.923' y2='686.6025' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='210.0' x2='200.0' y1='686.6025' y2='669.282' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='200.0' x2='220.0' y1='669.282' y2='669.282' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='220.0' x2='230.0' y1='669.282' y2='651.9615' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='230.0' x2='220.0' y1='651.9615' y2='634.641' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='220.0' x2='200.0' y1='634.641' y2='634.641' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='200.0' x2='210.0' y1='634.641' y2='617.3205' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='210.0' x2='200.0' y1='617.3205' y2='600.0' stroke='black' fill='transparent' stroke-width='1'/>
</svg>

