<?xml version="1.0" standalone="no"?>

<svg width="1000" height="1000" version="1.1" xmlns="http://www.w3.org/2000/svg">
<line x1='500.0' x2='570.7107' y1='500.0' y2='429.2893' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='570.7107' x2='641.4214' y1='429.2893' y2='358.5786' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='641.4214' x2='570.7107' y1='358.5786' y2='287.86795' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='570.7107' x2='500.0' y1='287.86795' y2='358.5786' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='500.0' x2='570.7107' y1='358.5786' y2='429.2893' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='570.7107' x2='500.0' y1='429.2893' y2='500.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='429.2893' x2='358.5786' y1='570.7107' y2='641.4214' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='358.5786' x2='429.2893' y1='641.4214' y2='712.1321' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='429.2893' x2='499.99997' y1='712.1321' y2='641.4214' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='499.99997' x2='429.28928' y1='641.4214' y2='570.7107' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='429.28928' x2='499.99994' y1='570.7107' y2='500.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='499.99994' x2='429.28925' y1='500.0' y2='429.28934' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='429.28925' x2='358.57855' y1='429.28934' y2='358.57867' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='358.57855' x2='287.86786' y1='358.57867' y2='429.28937' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='287.86786' x2='358.57855' y1='429.28937' y2='500.00006' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='358.57855' x2='429.2892' y1='500.00006' y2='429.28937' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='429.2892' x2='499.99988' y1='429.28937' y2='500.00006' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='570.7106' x2='641.42126' y1='570.71075' y2='641.42145' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='641.42126' x2='712.13196' y1='641.42145' y2='570.71075' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='712.13196' x2='641.42126' y1='570.71075' y2='500.0001' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='641.42126' x2='570.7106' y1='500.0001' y2='570.71075' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='570.7106' x2='499.99988' y1='570.71075' y2='500.0001' stroke='black' fill='transparent' stroke-width='1'/>
</svg>

