<?xml version="1.0" standalone="no"?>

<svg width="500" height="500" version="1.1" xmlns="http://www.w3.org/2000/svg">
<rect x='291.89514' y='101.87959' width='173' height='173' stroke='rgb(49,230,216)' fill='transparent' stroke-width='5'/> 
<rect x='0.91080666' y='27.609264' width='78' height='78' stroke='rgb(184,228,86)' fill='transparent' stroke-width='5'/> 
<rect x='50.41861' y='232.81744' width='141' height='141' stroke='rgb(112,203,164)' fill='transparent' stroke-width='5'/> 
<rect x='145.61313' y='197.32382' width='120' height='120' stroke='rgb(180,59,180)' fill='transparent' stroke-width='5'/> 
<rect x='130.52103' y='20.28941' width='52' height='52' stroke='rgb(171,127,14)' fill='transparent' stroke-width='5'/> 
<rect x='194.3705' y='284.45975' width='179' height='179' stroke='rgb(111,251,17)' fill='transparent' stroke-width='5'/> 
<rect x='10.43374' y='46.114807' width='102' height='102' stroke='rgb(22,184,196)' fill='transparent' stroke-width='5'/> 
<rect x='7.202858' y='116.675644' width='113' height='113' stroke='rgb(123,229,108)' fill='transparent' stroke-width='5'/> 
<rect x='33.71914' y='235.23015' width='165' height='165' stroke='rgb(71,48,85)' fill='transparent' stroke-width='5'/> 
<rect x='57.80327' y='199.22568' width='70' height='70' stroke='rgb(17,194,171)' fill='transparent' stroke-width='5'/> 
<rect x='13.29462' y='90.75117' width='194' height='194' stroke='rgb(169,218,19)' fill='transparent' stroke-width='5'/> 
<rect x='63.006145' y='244.00188' width='145' height='145' stroke='rgb(62,74,125)' fill='transparent' stroke-width='5'/> 
<rect x='38.873577' y='53.332474' width='65' height='65' stroke='rgb(185,96,65)' fill='transparent' stroke-width='5'/> 
<rect x='91.358475' y='176.61389' width='152' height='152' stroke='rgb(161,120,112)' fill='transparent' stroke-width='5'/> 
<rect x='31.424082' y='121.50954' width='144' height='144' stroke='rgb(101,233,210)' fill='transparent' stroke-width='5'/> 
<rect x='151.05212' y='15.119648' width='64' height='64' stroke='rgb(213,229,245)' fill='transparent' stroke-width='5'/> 
<rect x='250.8284' y='175.16092' width='52' height='52' stroke='rgb(86,39,201)' fill='transparent' stroke-width='5'/> 
<rect x='236.05261' y='177.38094' width='124' height='124' stroke='rgb(149,7,106)' fill='transparent' stroke-width='5'/> 
<rect x='243.4757' y='32.278133' width='116' height='116' stroke='rgb(107,214,6)' fill='transparent' stroke-width='5'/> 
<rect x='5.1962433' y='176.88217' width='125' height='125' stroke='rgb(78,4,18)' fill='transparent' stroke-width='5'/> 
<rect x='48.767406' y='238.69331' width='199' height='199' stroke='rgb(88,215,124)' fill='transparent' stroke-width='5'/> 
<rect x='90.322945' y='109.793434' width='143' height='143' stroke='rgb(50,159,31)' fill='transparent' stroke-width='5'/> 
<rect x='168.68361' y='152.48463' width='102' height='102' stroke='rgb(62,59,3)' fill='transparent' stroke-width='5'/> 
<rect x='66.85075' y='58.65099' width='199' height='199' stroke='rgb(94,103,89)' fill='transparent' stroke-width='5'/> 
<rect x='272.07324' y='45.98499' width='133' height='133' stroke='rgb(199,27,113)' fill='transparent' stroke-width='5'/> 
<rect x='213.36511' y='88.93153' width='100' height='100' stroke='rgb(189,10,240)' fill='transparent' stroke-width='5'/> 
<rect x='290.42554' y='183.8016' width='160' height='160' stroke='rgb(254,50,184)' fill='transparent' stroke-width='5'/> 
<rect x='191.11876' y='11.803347' width='60' height='60' stroke='rgb(146,242,112)' fill='transparent' stroke-width='5'/> 
<rect x='205.04716' y='218.91914' width='77' height='77' stroke='rgb(22,27,113)' fill='transparent' stroke-width='5'/> 
<rect x='190.36906' y='194.45177' width='121' height='121' stroke='rgb(143,103,76)' fill='transparent' stroke-width='5'/> 
<rect x='229.79907' y='78.218025' width='138' height='138' stroke='rgb(220,113,193)' fill='transparent' stroke-width='5'/> 
<rect x='48.107384' y='77.28045' width='71' height='71' stroke='rgb(104,135,145)' fill='transparent' stroke-width='5'/> 
<rect x='117.75885' y='62.27753' width='94' height='94' stroke='rgb(61,248,216)' fill='transparent' stroke-width='5'/> 
<rect x='180.32567' y='22.939342' width='169' height='169' stroke='rgb(177,222,73)' fill='transparent' stroke-width='5'/> 
<rect x='63.610394' y='123.93118' width='104' height='104' stroke='rgb(38,103,143)' fill='transparent' stroke-width='5'/> 
<rect x='138.25159' y='104.93676' width='59' height='59' stroke='rgb(82,93,159)' fill='transparent' stroke-width='5'/> 
<rect x='109.73146' y='3.6683679' width='161' height='161' stroke='rgb(136,34,3)' fill='transparent' stroke-width='5'/> 
<rect x='229.05325' y='258.45926' width='73' height='73' stroke='rgb(127,1,110)' fill='transparent' stroke-width='5'/> 
<rect x='40.437286' y='27.560413' width='147' height='147' stroke='rgb(94,136,125)' fill='transparent' stroke-width='5'/> 
<rect x='147.7547' y='111.76694' width='140' height='140' stroke='rgb(217,30,111)' fill='transparent' stroke-width='5'/> 
<rect x='275.51675' y='290.83112' width='57' height='57' stroke='rgb(168,123,164)' fill='transparent' stroke-width='5'/> 
<rect x='72.71951' y='133.98746' width='136' height='136' stroke='rgb(245,138,130)' fill='transparent' stroke-width='5'/> 
<rect x='129.39294' y='19.866192' width='117' height='117' stroke='rgb(240,1,151)' fill='transparent' stroke-width='5'/> 
<rect x='117.000854' y='13.102108' width='91' height='91' stroke='rgb(43,72,126)' fill='transparent' stroke-width='5'/> 
<rect x='121.41702' y='169.83154' width='124' height='124' stroke='rgb(98,197,18)' fill='transparent' stroke-width='5'/> 
<rect x='237.20825' y='124.28761' width='123' height='123' stroke='rgb(218,245,13)' fill='transparent' stroke-width='5'/> 
<rect x='114.33433' y='285.20343' width='112' height='112' stroke='rgb(128,248,33)' fill='transparent' stroke-width='5'/> 
<rect x='259.83862' y='292.0368' width='63' height='63' stroke='rgb(215,179,98)' fill='transparent' stroke-width='5'/> 
<rect x='254.59448' y='112.70639' width='136' height='136' stroke='rgb(132,38,86)' fill='transparent' stroke-width='5'/> 
<rect x='239.81136' y='86.39597' width='92' height='92' stroke='rgb(100,51,66)' fill='transparent' stroke-width='5'/> 
<rect x='171.22618' y='135.73732' width='183' height='183' stroke='rgb(132,55,214)' fill='transparent' stroke-width='5'/> 
<rect x='36.040092' y='275.20016' width='172' height='172' stroke='rgb(223,105,86)' fill='transparent' stroke-width='5'/> 
<rect x='81.93231' y='174.83768' width='197' height='197' stroke='rgb(209,114,86)' fill='transparent' stroke-width='5'/> 
<rect x='110.03235' y='111.16353' width='70' height='70' stroke='rgb(232,182,46)' fill='transparent' stroke-width='5'/> 
<rect x='241.1917' y='96.014015' width='157' height='157' stroke='rgb(37,204,104)' fill='transparent' stroke-width='5'/> 
<rect x='121.10159' y='176.91318' width='57' height='57' stroke='rgb(95,106,52)' fill='transparent' stroke-width='5'/> 
<rect x='9.97991' y='145.55573' width='183' height='183' stroke='rgb(49,168,61)' fill='transparent' stroke-width='5'/> 
<rect x='45.251476' y='72.44452' width='110' height='110' stroke='rgb(4,184,88)' fill='transparent' stroke-width='5'/> 
<rect x='189.95241' y='266.7901' width='104' height='104' stroke='rgb(130,237,241)' fill='transparent' stroke-width='5'/> 
<rect x='215.31757' y='107.44259' width='174' height='174' stroke='rgb(199,209,27)' fill='transparent' stroke-width='5'/> 
<rect x='117.86467' y='129.221' width='51' height='51' stroke='rgb(210,166,53)' fill='transparent' stroke-width='5'/> 
<rect x='161.29262' y='42.07751' width='109' height='109' stroke='rgb(53,131,151)' fill='transparent' stroke-width='5'/> 
<rect x='110.270294' y='165.57668' width='189' height='189' stroke='rgb(203,244,91)' fill='transparent' stroke-width='5'/> 
<rect x='86.677284' y='146.24106' width='184' height='184' stroke='rgb(141,238,234)' fill='transparent' stroke-width='5'/> 
<rect x='299.52835' y='74.29524' width='187' height='187' stroke='rgb(102,13,215)' fill='transparent' stroke-width='5'/> 
<rect x='94.37808' y='225.03398' width='71' height='71' stroke='rgb(63,156,157)' fill='transparent' stroke-width='5'/> 
<rect x='248.71321' y='214.52126' width='178' height='178' stroke='rgb(113,5,214)' fill='transparent' stroke-width='5'/> 
<rect x='123.34116' y='12.398779' width='63' height='63' stroke='rgb(164,99,128)' fill='transparent' stroke-width='5'/> 
<rect x='255.21487' y='73.44407' width='192' height='192' stroke='rgb(104,168,194)' fill='transparent' stroke-width='5'/> 
<rect x='97.09189' y='102.429756' width='189' height='189' stroke='rgb(19,126,24)' fill='transparent' stroke-width='5'/> 
<rect x='273.13123' y='197.90826' width='74' height='74' stroke='rgb(45,110,182)' fill='transparent' stroke-width='5'/> 
<rect x='1.619482' y='11.776775' width='114' height='114' stroke='rgb(42,205,39)' fill='transparent' stroke-width='5'/> 
<rect x='32.798553' y='127.512215' width='191' height='191' stroke='rgb(59,136,146)' fill='transparent' stroke-width='5'/> 
<rect x='70.18671' y='127.89141' width='155' height='155' stroke='rgb(224,253,226)' fill='transparent' stroke-width='5'/> 
<rect x='32.20108' y='142.35034' width='85' height='85' stroke='rgb(114,17,46)' fill='transparent' stroke-width='5'/> 
<rect x='219.64905' y='149.23863' width='195' height='195' stroke='rgb(239,15,191)' fill='transparent' stroke-width='5'/> 
<rect x='281.2696' y='252.46439' width='68' height='68' stroke='rgb(14,214,82)' fill='transparent' stroke-width='5'/> 
<rect x='298.8699' y='217.18018' width='112' height='112' stroke='rgb(164,228,211)' fill='transparent' stroke-width='5'/> 
<rect x='80.07016' y='290.5181' width='89' height='89' stroke='rgb(173,155,106)' fill='transparent' stroke-width='5'/> 
<rect x='45.41003' y='252.36794' width='115' height='115' stroke='rgb(30,141,109)' fill='transparent' stroke-width='5'/> 
<rect x='262.67355' y='121.00677' width='194' height='194' stroke='rgb(172,111,111)' fill='transparent' stroke-width='5'/> 
<rect x='61.820107' y='215.93964' width='55' height='55' stroke='rgb(246,97,93)' fill='transparent' stroke-width='5'/> 
<rect x='216.23653' y='229.11023' width='175' height='175' stroke='rgb(81,93,120)' fill='transparent' stroke-width='5'/> 
<rect x='71.13976' y='270.73065' width='150' height='150' stroke='rgb(193,218,253)' fill='transparent' stroke-width='5'/> 
<rect x='211.13264' y='152.87901' width='85' height='85' stroke='rgb(188,254,130)' fill='transparent' stroke-width='5'/> 
<rect x='104.63603' y='256.06042' width='190' height='190' stroke='rgb(143,193,24)' fill='transparent' stroke-width='5'/> 
<rect x='196.04614' y='204.94028' width='200' height='200' stroke='rgb(147,23,83)' fill='transparent' stroke-width='5'/> 
<rect x='224.56747' y='138.68727' width='77' height='77' stroke='rgb(171,182,169)' fill='transparent' stroke-width='5'/> 
<rect x='203.01802' y='206.76419' width='70' height='70' stroke='rgb(219,127,169)' fill='transparent' stroke-width='5'/> 
<rect x='165.076' y='120.90256' width='72' height='72' stroke='rgb(33,147,94)' fill='transparent' stroke-width='5'/> 
<rect x='124.51462' y='291.808' width='102' height='102' stroke='rgb(211,125,51)' fill='transparent' stroke-width='5'/> 
<rect x='190.79716' y='222.84175' width='135' height='135' stroke='rgb(71,240,17)' fill='transparent' stroke-width='5'/> 
<rect x='75.1181' y='204.61932' width='119' height='119' stroke='rgb(142,96,15)' fill='transparent' stroke-width='5'/> 
<rect x='133.43498' y='186.77042' width='175' height='175' stroke='rgb(138,185,133)' fill='transparent' stroke-width='5'/> 
<rect x='28.012688' y='11.51458' width='82' height='82' stroke='rgb(233,119,130)' fill='transparent' stroke-width='5'/> 
<rect x='171.78651' y='17.885668' width='109' height='109' stroke='rgb(19,247,52)' fill='transparent' stroke-width='5'/> 
<rect x='0.98174214' y='2.939558' width='56' height='56' stroke='rgb(253,184,242)' fill='transparent' stroke-width='5'/> 
<rect x='159.77652' y='110.48555' width='93' height='93' stroke='rgb(193,1,1)' fill='transparent' stroke-width='5'/> 
<rect x='65.26571' y='210.4926' width='159' height='159' stroke='rgb(248,255,84)' fill='transparent' stroke-width='5'/> 
<rect x='256.44186' y='215.61082' width='73' height='73' stroke='rgb(50,207,190)' fill='transparent' stroke-width='5'/> 
</svg>

