<?xml version="1.0" standalone="no"?>

<svg width="1000" height="1000" version="1.1" xmlns="http://www.w3.org/2000/svg">
<line x1='500.0' x2='600.0' y1='500.0' y2='500.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='600.0' x2='600.0' y1='500.0' y2='400.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='600.0' x2='500.0' y1='400.0' y2='400.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='500.0' x2='500.0' y1='400.0' y2='500.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='700.0' x2='800.0' y1='500.0' y2='500.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='800.0' x2='830.90173' y1='500.0' y2='404.89435' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='830.90173' x2='750.00006' y1='404.89435' y2='346.1158' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='750.00006' x2='669.0984' y1='346.1158' y2='404.89435' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='669.0984' x2='700.00006' y1='404.89435' y2='500.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='400.0' x2='420.0' y1='500.0' y2='500.0' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='420.0' x2='438.91037' y1='500.0' y2='493.48865' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='438.91037' x2='454.6706' y1='493.48865' y2='481.1754' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='454.6706' x2='465.5634' y1='481.1754' y2='464.402' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='465.5634' x2='470.40182' y1='464.402' y2='444.9961' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='470.40182' x2='468.65872' y1='444.9961' y2='425.0722' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='468.65872' x2='460.524' y1='425.0722' y2='406.8013' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='460.524' x2='446.88403' y1='406.8013' y2='392.17422' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='446.88403' x2='429.2251' y1='392.17422' y2='382.7848' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='429.2251' x2='409.47134' y1='382.7848' y2='379.6561' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='409.47134' x2='389.77518' y1='379.6561' y2='383.12906' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='389.77518' x2='372.28278' y1='383.12906' y2='392.82526' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='372.28278' x2='358.90015' y1='392.82526' y2='407.68814' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='358.90015' x2='351.0855' y1='407.68814' y2='426.09824' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='351.0855' x2='349.69037' y1='426.09824' y2='446.04953' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='349.69037' x2='354.86676' y1='446.04953' y2='465.36804' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='354.86676' x2='366.05063' y1='465.36804' y2='481.9488' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='366.05063' x2='382.02335' y1='481.9488' y2='493.9851' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='382.02335' x2='401.04446' y1='493.9851' y2='500.16544' stroke='black' fill='transparent' stroke-width='1'/>
<line x1='401.04446' x2='421.0414' y1='500.16544' y2='499.8164' stroke='black' fill='transparent' stroke-width='1'/>
</svg>

