<?xml version="1.0" standalone="no"?>

<svg width="200" height="250" version="1.1" xmlns="http://www.w3.org/2000/svg">
<rect x='10.0' y='50.0' width='30' height='30' stroke='blue' fill='transparent' stroke-width='5'/> 
<path d='M20,230 Q40,205 50,230 T90,230' fill='none' stroke='red' stroke-width='5'/><circle cx='25.0' cy='75.0' r='20.0' stroke='red' fill='transparent' stroke-width='5'/>
<line x1='10.0' x2='110.0' y1='50.0' y2='150.0' stroke='orange' fill='transparent' stroke-width='5'/>
</svg>

